rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{documentId} {
      allow read: if request.auth.uid == documentId;
      allow create: if request.auth.uid == documentId;
      allow update: if request.auth.uid == documentId;
    }
    match /chats/{documentId} {
      allow read: if request.auth != null && resource.data.uid == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.uid == request.auth.uid;
      allow update: if request.auth != null && resource.data.uid == request.auth.uid;
    }
    match /chat_messages/{documentId} {
      allow read: if request.auth != null && resource.data.uid == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.uid == request.auth.uid;
    }
    match /generations/{documentId} {
      allow read: if request.auth != null && resource.data.uid == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.uid == request.auth.uid;
    }
  }
}
